{% extends 'base.html.twig' %}

{% block title %}Mes Formations{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/CV/Atouts.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    
{% endblock %}

{% block body %}
    <h1 class = "stylesTexte">Mes Formations</h1>
    <ul>
        <li class = "p1">Baccalauréat général 2025</li>
        <p class = "p2">Spécialités Mathématiques et Numérique et Sciences Informatiques (NSI)</p>
        <p class = "p">J'ai eu mon Baccalauréat au Lycée du Forez à Feurs (42110) en 2024-2025</p>

        <div class="pdf-btn-container">
            <a class="pdf-btn" href="/styles/Accueil/Pdf/BAC NOAN 2025.pdf" target="_blank">
                <i class="fa-solid fa-file-pdf"></i>
                PDF
            </a>

        </div>

        <li class = "p1"> Brevet des collèges Mention Bien</li>
        <p class = "p">J'ai eu mon Brevet au Collège l'Astrée à Boën sur lignon (42130) en 2021-2022</p>

        <div class="pdf-btn-container">
            <a class="pdf-btn" href="/styles/Accueil/Pdf/Brevet.pdf" target="_blank">
                <i class="fa-solid fa-file-pdf"></i>
                PDF
            </a>

        </div>
    </ul>

    <div class="page-center">
        <div class = "grid-buttons">
            <a class="btn" href={{ path ('atouts') }}>Mes atouts</a>
            <a class="btn" href={{ path ('ExpPro') }}>Expériences Professionelles</a>
            <a class="btn" href={{ path ('vie') }}>Vie Assiociative</a>
            <a class="btn" href={{ path ('LM') }}>Lettre de Motivation</a>
        </div>
    </div>


{% endblock %}