{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/Accueil/Accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="page-center">
        <div class = "grid-buttons">
            <a class="btn btn-cv" href={{ path ('CV') }} ><strong>Cliquer ici pour voir mon CV</strong></a>
            <a class="btn btn-comp" href={{ path ('compétences') }}>Ici vous trouverez mes différentes <br> Compétences</a>
            <a class="btn" href={{ path ('Contact') }}>Ici vous pourrez me contacter et <br> m'envoyer un mail</a>
            <a class="btn" href={{ path ('hobbies') }}>Ici vous pourrez découvrir mes hobbies</a>
        </div>
    </div>
{% endblock %}






